.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #6200ea;
  padding: 1rem 2rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
