<!-- src/app/home/home.component.html -->
<div class="home-container">

    <!-- Hero Section -->
    <section class="hero-section">
      <div class="hero-content">
        <h1>Welcome to Our StyleHut Store</h1>
        <a routerLink="/products" class="shop-now-btn">Shop Now</a>
      </div>
    </section>
  
    <!-- Trending Now Section -->
    <section class="featured-products">
      <h2>Trending Now</h2>
      <div class="products-grid">
  
        <div class="product-card">
          <img src="assets/images/women watch.jpg" alt="Stylish Watch">
          <h3>Stylish Watch</h3>
          
        </div>
  
        <div class="product-card">
          <img src="assets/images/shoe.jpg" alt="Running Shoes">
          <h3>Running Shoes</h3>
          
        </div>
  
        <div class="product-card">
          <img src="assets/images/laptop.jpg" alt="Gaming Laptop">
          <h3>Gaming Laptop</h3>
         
        </div>
  
        <div class="product-card">
          <img src="assets/images/phone.jpg" alt="Latest Phone">
          <h3>Latest Phone</h3>
          
        </div>
  
      </div>
    </section>
  
  </div>